@model ProductUpdateViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link rel="stylesheet" href="~/css/update.css"/>
</head>
<body>
    <div class="main">
        <section  class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Update Product</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group" hidden>
                                <input asp-for="Product.Id" hidden />
                            </div>
                            <div class="form-group">
                                <input  asp-for="Product.Name" />
                            </div>
                            <div class="form-group">
                                <input  asp-for="Product.Category" />
                            </div>
                            <div class="form-group">
                                <input  asp-for="Product.Price" />
                            </div>
                            <div class="form-group">
                                <input  asp-for="Product.Discount" />
                            </div>
                            <div class="form-group">
                                <input  asp-for="Product.ImagePath" />
                            </div>
                            <div class="form-group form-button">
                                <button id="update" class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="@Model.Product.ImagePath" alt="product image"></figure>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>